/* Use-google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* ------------------common utilities----------------------- */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* ------------------------------header section---------------------------------------- */

header{
    width: 1440px;
    height: 677px;
    display: flex;
    align-items: center;
    background-color: #2D25A0;
  
   
}
@keyframes colorchanging{
    from {background-color: #2D25A0;}
    to {background-color: #0996b9;}
  }
header:hover{
    animation-name: colorchanging;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.header-title{
    display: flex;
    flex-direction: column;
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;

}
.title{
    width: 485px;
    height: 230px;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
    color: white;
}
.header-title a{ 
    text-decoration: none;
    
}
.button{
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    color: white;
    background-color: #E02C6D; 
    cursor: pointer;
    font-size: 16px;
    text-align: center;
     border-radius: 5px;
     transition-duration: 0s;
    
   
}
.button .fas{
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button:hover 
{
    background-color: #b80843;   
}

.button:active {
  background-color:  #b80843;
  box-shadow: 0 5px rgb(219, 79, 23);
  transform: translateY(3px); 
}
.header-img{
    width: 556.01px;
    height: 438px;
    margin: 153px 140px 86px 102px; 
}
.header-img img{
    width: 100%;
}
/*---------------------------------------------- main section-------------------------------------------- */

/*---------------------------------- player section--------------------------------- */
.players-list{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-row-gap: 45px;
    grid-column-gap: 30px;
    width: 330px;
    height: 456px;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;

}
.players{
    width: 330px;
    height: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.players img{
    width: 300px;
    height: 256px;
   
}
.players h3{
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
    
}
.players p{
    width: 300px;
    height: 256px;
    text-align:justify;
    font-size: 16px;


}

/*------------------------------------------- login form section------------------------------------- */
.login-form{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    margin-top: 1850px;
    margin-left: 180px;
    margin-right: 3%;
   
}
.bg-img {
    background-image: url("images/login.png");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
  }
  
  
  .container {
    position: absolute;
    right: 0; 
    margin:40px 10px;
    max-width: 400px;
    height: 300px;
    padding: 16px;
    background-color: white;
  }
  .container h1{
      margin-bottom: 20px;
  }
  
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
   
  }
  
  
  .btn {
    background-color: #E02C6D; 
    color: white;
    margin-top: 20px;
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 1;
  }
  
.btn:hover {
    opacity: 0.8;
  }
/*------------------------------------------gallery section------------------------------------------ */
.gallery{
    max-width: 1440px;
    margin: auto;
    border: #fff solid 3px;
    background: #fff;
  }
  .gallery-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.gallery-title span{
	color: rgb(240, 8, 54);
}
.banner-img{
    width: 80%;
    height: 80%;
    margin-left: 180px;
    margin-right: 210px;
}
  .banner-img img{
	  width: 100%;
	  height: 100%;
	  /* background: center; */
  }
 
  
  .gallery .motm-img{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    margin-left: 250px;
    margin-right: 210px; 
    margin-top: 70px;
	
  }
  
  .motm-img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    
  }
  .motm-img img:hover{
      transform: scale(1.3);
      transition: 1s;
  }
/* -----------------------------------------------footer section------------------------------------- */
.footer-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 483.87px;
    height: 213px;
    margin: 70px 480px 40px 475px;
    
}
.footer-items img{
    width: 483.87px;
    height: 110px;
}
.footer-items .social-icons{
    width: 170px;
    height: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:20px  156px;
}
.social-icons .fab{
    color: #969BAB;
}
.footer-items p{
    font-size: 18px;
}
/* -----------------media Query--------------------*/
/*--------------- for mobile screen--------------- */
@media only screen and (max-width:668px)
{
    /* header section */
    header{
        width: 668px;
        height: 695px;
        display: flex;
        flex-direction:column;
        justify-content: flex-end;
        align-items: flex-start;
        
    }
    .header-title{
        display: flex;
        flex-direction: column;
        
        margin-left: 16px;
        margin-top: 112px;
        margin-bottom: 2px;
    
    }
    .title{
        width: 278px;
        height: 138px;
        margin-right: 60px;
        margin-left: 23px;
        font-size: 36px;
        line-height: 50px;
    }
    header .button{
        margin-left: 23px;
    }
    .header-img{
        width: 329px;
        height: 259px;
        margin: 50px 15px 38px 15px;
    }
    /* player section */
    .players-list{
        grid-template-columns: repeat(1 , 1fr);
        grid-row-gap: 24px;
        margin-left: 180px;
        margin-right: 210px;
        
    }
    .players{
        width: 330px;
        height: 474px;
        margin: 15px;
        padding:10px  0;
    }
    /* login section */
    .login-form{
         margin-top: 6150px;
         margin-left: 60px;
         margin-right: 60px
    }
    /* gallery section */
    .gallery-title{
        font-size: 2rem;
    }
    .banner-img{
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .gallery .motm-img{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        margin-left: 50px;
        margin-right: 50px;
        
    }
    .motm-img img:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    /* --------footer --------- */
    .footer-items{
        justify-content: space-between;
        align-items: center;
        width: 484px;
        height: 213px;
        margin: 43px 0px 187px 80px;
    }
    .footer-items img{
        width: 276px;
        height: 110px;
    }
    .footer-items p{
      
        text-align: left;
        font-size: 18px;
        
    }
}